.infoemp{
    text-align: justify;
    &__im{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Agregando barra de búsqueda */
input[type=text] {
    padding: 4px;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}
.btn {
    background: white;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption{
    color:black;
}

/* Sector Empresa en Index -------------------------------------------*/

.infoEmp{
    display: flex;
    color: black;
    &__im{
        translate: -50px;
    }
}

@media screen and (max-width: 880px){
    .infoEmp__im{
        display: none;
    }
}