/* Armando para la sección Nosotros ---------------------------------------------*/
.nosotros {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    &__empresa{
        background-color: rgb(123, 10, 151);
        line-height: 75px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-radius: 10px;
        margin: 10px;
    }
    &__mision {
        background-color: rgb(10, 136, 77);
        margin: 10px;
        line-height: 75px;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        border-radius: 10px;
    }
    &__vision {
        background-color: rgb(10, 136, 77);
        margin: 10px;
        line-height: 75px;
        font-family: 'Poppins', sans-serif;
        text-align: right;
        border-radius: 10px;
    }
    &__quien {
        background-color: rgb(10, 136, 77);
        margin: 10px;
        line-height: 75px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-radius: 10px;
    }
}