/* Armando Productos */
.prodl{
    margin-top:20px;
    background: rgb(226, 123, 252);
    border-radius: 8px;
    &__fakeimg {
        height: 200px;
        background: #aaa;
    }
}

.prodr{
    margin-top:20px;
    __fakeimg {
        height: 300px;
        background: #aaa;
    }
}